@charset "UTF-8";

/*
Paleta de cores
Vinho: #260101
Azul 1: #68868C
Azul 2: #516D73
Azul 3: #232526
Cinza: #BFB8BD

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #260101;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    background-color: white;
    width: 240px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.63);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #260101 url(../imagens/metal.jpg) no-repeat;  
    height: 200px;  
    background-size: cover;
    background-position: center bottom;
}

section#login > div#formulario {
    display: block;
    height: 200px;
    transform: translateX(-60px);
    width: 1000px;
    height: auto;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    text-align: center;
    font-size: 0.8em;
}

div.campo > label {
    display: none;
}

div.campo > i {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo {
    display: block;
    background-color: #540202;
    border: 2px solid #540202;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin: 8px 0px;

}

div.campo > input {
    background-color: #4b5052;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    transform: translateY(-12px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
}

div.campo > input:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #3c4042;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #232526;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #feffff;
    color: rgb(19, 19, 19);
    border: 1px solid #3c4042;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #5b6063;
} 



form > a.botao > i {
    font-size: 0.8em;
}


